@{
    ViewBag.Title = "Home Page";
}

<head>
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto|Russo+One" rel="stylesheet">
</head>
<section>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="image-Box">
                        <img src="https://vignette.wikia.nocookie.net/marvel/images/3/37/Captain_America_The_First_Avenger_poster.jpg/revision/latest?cb=20130419170702&path-prefix=es" class="img-responsive">
                        <h3>Capitan America</h3>
                        <ul>
                            <li><a href="#"><i class="fab fa-imdb"></i></a></li>
                            <li><a href="#"><i class="fab fa-wikipedia-w"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>