@{
    ViewBag.Title = "Home Page";
}

<head>
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto|Russo+One" rel="stylesheet">

</head>
<section>
    <div class="container-fluid">        
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="imageBox">
                        <img src="http://3.bp.blogspot.com/-E98Sfbeghk4/VgIcfjeEpDI/AAAAAAAAA48/dQv9YRI6NB8/s1600/Captain%2BAmercia%2B1%2B800x1200.jpg" class="img-responsive">
                        <h3>Capitan America</h3>
                        <ul>
                            <li><a href="#"><i class="fab fa-imdb"></i></a></li>
                            <li><a href="#"><i class="fab fa-wikipedia-w"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="imageBox">
                        <img src="https://2.bp.blogspot.com/-me4y0q2mG6I/WYNsequbQ1I/AAAAAAAAAXk/QhwkMJ1THnkKZgHEfpaeXZ0oMEXvofzgACLcBGAs/s1600/spider%2Bman%2Bfilm%2Biron%2Bman.jpg" class="img-responsive">
                        <h3>Spiderman: Homecoming</h3>
                        <ul>
                            <li><a href="#"><i class="fab fa-imdb"></i></a></li>
                            <li><a href="#"><i class="fab fa-wikipedia-w"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="imageBox">
                        <img src="http://www.joblo.com/posters/images/full/black-panther-poster-2-main.jpg" class="img-responsive">
                        <h3>Black Panther</h3>
                        <ul>
                            <li><a href="#"><i class="fab fa-imdb"></i></a></li>
                            <li><a href="#"><i class="fab fa-wikipedia-w"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="imageBox">
                        <img src="http://www.blackfilm.com/read/wp-content/uploads/2015/06/Ant-Man-Poster-9.jpg" class="img-responsive">
                        <h3>Ant-Man</h3>
                        <ul>
                            <li><a href="#"><i class="fab fa-imdb"></i></a></li>
                            <li><a href="#"><i class="fab fa-wikipedia-w"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>